/* Estilos generales para el modo oscuro */
body.modo-oscuro {
    background-color: #343a40 !important; /* Color de fondo oscuro */
    color: #e9ecef !important; /* Color de texto claro */
}

/* Estilos para la tabla en modo oscuro */
body.modo-oscuro .table {
    background-color: #495057 !important;
    color: #e9ecef !important;
}

body.modo-oscuro .table th,
body.modo-oscuro .table td {
    border-color: #6c757d !important;
}

/* Estilos para los elementos con clase bg-secondary en modo oscuro */
body.modo-oscuro .bg-secondary {
    background-color: #6c757d !important;
}

/* Estilos para los elementos con clase text-white en modo oscuro */
body.modo-oscuro .text-white {
    color: #ffffff !important;
}

/* Estilos adicionales para asegurar que otros elementos se vean bien en modo oscuro */
body.modo-oscuro .btn {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #ffffff !important;
}

body.modo-oscuro .btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

body.modo-oscuro .btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

body.modo-oscuro .btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

body.modo-oscuro a {
    color: #1f8bff !important;
}

body.modo-oscuro a:hover {
    color: #0056b3 !important;
}
